<h1 mat-dialog-title>Edit Contact</h1>
<div mat-dialog-content>
  <div class="register-wrapper">
    <div class="field-wrapper">
      <form (ngSubmit)="onSubmit()" name="registerForm" [formGroup]="editContactForm">
        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Name</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Name" required/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Street</mat-label>
          <input
            formControlName="street"
            matInput
            placeholder="Street" required/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="standard">
          <mat-label>City</mat-label>
          <input
            formControlName="city"
            matInput
            placeholder="City" required/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Zip Code</mat-label>
          <input
            formControlName="zip"
            matInput
            placeholder="Zip Code" required/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="standard">
          <mat-label>State</mat-label>
          <input
            formControlName="state"
            matInput
            placeholder="State" required/>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="standard">
          <mat-label>Country</mat-label>
          <input
            formControlName="country"
            matInput
            placeholder="Country" required/>
        </mat-form-field>

      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onBack()">Back</button>
      <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>Submit</button>
    </div>
  </div>
</div>
