<h1 mat-dialog-title>Change Password</h1>
<mat-card class="card">
  <div mat-dialog-content>
    <div class="change-wrapper">
      <div class="field-wrapper">
        <form (ngSubmit)="onSubmit()" name="change-password-form" [formGroup]="changePasswordForm">
          <div class="current-password-input">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>Current Password</mat-label>
              <input
                formControlName="currentPassword"
                matInput [type]=" hideCurrent ? 'password' : 'text'"
                placeholder="Current Password" required/>
              <button mat-icon-button matSuffix (click)="hideCurrent = !hideCurrent" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hideCurrent">
                <mat-icon>
                  {{hideCurrent ? 'visibility' : 'visibility_off'}}
                </mat-icon>
              </button>
              <mat-error *ngIf="!changePasswordForm.controls['newPassword'].valid">
                Password is invalid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="password-input">
            <mat-form-field class="full-width" appearance="standard">
              <mat-label>New Password</mat-label>
              <input
                formControlName="newPassword"
                matInput [type]=" hideNew ? 'password' : 'text'"
                placeholder="New Password" required/>
              <button mat-icon-button matSuffix (click)="hideNew = !hideNew" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hideNew">
                <mat-icon>
                  {{hideNew ? 'visibility' : 'visibility_off'}}
                </mat-icon>
              </button>
              <mat-error *ngIf="!changePasswordForm.controls['newPassword'].valid">
                Password is invalid
              </mat-error>
              <mat-error *ngIf="!changePasswordForm.valid">
                Passwords must match
              </mat-error>
            </mat-form-field>
          </div>
          <mat-form-field class="full-width" appearance="standard">
            <mat-label>Confirm new Password</mat-label>
            <input
              formControlName="confirmPassword"
              matInput [type]=" hideConfirm ? 'password' : 'text'"
              placeholder="Confirm new Password" required/>
            <button mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide Password'"
                    [attr.aria-pressed]="hideConfirm">
              <mat-icon>
                {{hideConfirm ? 'visibility' : 'visibility_off'}}
              </mat-icon>
            </button>
            <mat-error *ngIf="!changePasswordForm.controls['confirmPassword'].valid">
              Password is invalid
            </mat-error>
            <mat-error *ngIf="!changePasswordForm.valid">
              Passwords must match
            </mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
    <div class="button-row" mat-dialog-actions>
      <button mat-button type="button" (click)="onBack()">Back</button>
      <button mat-button color="primary" (click)="onSubmit()" cdkFocusInitial>Submit</button>
    </div>
  </div>
</mat-card>
