.mat-dialog-content {
  overflow: hidden !important;
  height: 280px;
  width: 350px;
}

.card-shadow {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e2e2e2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  width: 500px;
}

.button-row {
  justify-content: space-between;
}

change-password-form {
  align-content: flex-end;
}

.full-width {
  width: 80%;
}

.password-Input {
  padding-top: 20px;
}

.login-input {
  padding: 60px 1rem;
  background: darkgray;
  display: block;
}

mat-label {
  padding-bottom: 50px;
}

.field-wrapper {
  margin-outside: 100px;
}
