.account-wrapper {
  width: calc(100vw - 265px);
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-shadow {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #e2e2e2;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  width: 500px;
}

mat-card {
  position: relative;
  opacity: 1;
  max-width: 700px;
  text-align: center;
  max-height: 600px;
  padding: 60px 50px 40px 50px;
  background: #fff;
  border-radius: 5px;
  transform: scale(1);
}

accountForm {
  align-content: flex-end;
}

.full-width {
  width: 80%;
}

.buttons {
  margin-left: 20px;
}

mat-label {
  padding-bottom: 50px;
}
